# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log


# Model files (optional, if you don’t want to track them)
*.pkl

# Requirements lock file (if using pipenv/poetry)
Pipfile.lock
